body {
    margin:0;
}
header {
    background-color: #0B1C51;
}
header h1{
    margin: 0;
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 52px;
}

header nav{
    display:flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    display: flex;
    
    padding-left: 20px;
}

header nav ul a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px 0 0;
}

@media all and (min-width: 500px){
.group {
    display: flex;
    justify-content: space-between;
}
header h1 {
    font-size: 48px;
    padding: 0;
    margin-left: 20px;
}

}